.git
.github
.gitignore

.dvc
.dvcignore

.venv
venv
env

__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache

tests
notebooks
docs

data/raw
data/processed/kafka_interactions
data/processed/.kafka_checkpoint

models/svd
models/two_tower_v2
models/two_tower_v2_negative_sampling
models/deployment

mlruns

*.log
.DS_Store